.container{
    max-width: 600px;
    margin: 50px auto;
    background-color: azure;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(red, green, blue, alpha);
}

body{
    font-family: comic sans ms;
    margin: 0px;
    padding: 5px;
    background-color: rgb(226, 222, 218);

}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 10px;
}

input{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccd;
    border-radius: 5px;
   
}

button:hover{
    background-color: blue;
}










